
/* Analytics.css */
 
.analytics-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding:  20px;
  height: 500px;
}
 
.chart-row {
  display: flex;
  width:  100%;
  margin-bottom:  20px;
}
 
/* #lineChart.chart{
  height: auto;
  width: auto;
} */
.chart-column {
  flex:  1;
  /* display: flex; */
  flex-direction: column;
  display: flex;
  align-items: center;
  height: 250%;
  width:  50%; /* Ensure each column takes up half the width of the row */
}
 
.chart {
  width:  150%; /* Make the chart responsive to the column width */
  max-width:  500px; /* Maximum width of the chart */
  height: 800px; /* Adjust the height automatically based on the content */
  margin-bottom:  10px; /* Adjusted margin for better spacing */
  max-height: 800px;
}
 
.chart canvas {
  border:  1px solid #3a1616;
  box-shadow:  2px  2px  5px rgba(0,  0,  0,  0.1);
}
 